---
import Layout from "../layouts/Layout.astro";
import Download from "../components/Donwload.astro";
---

<Layout title="Activadores">
  <main>
    <h1>
      <span>WINDOWS & OFFICE</span>
    </h1>

    <!-- SCRIPT  -->
    <article class="flex">
      <h3
        class="inline-block text-4xl text-gray-300 border-dashed border-b-4 italic mb-4 mr-2"
      >
        Script de <a
          href="https://github.com/massgravel/Microsoft-Activation-Scripts"
          target="_blank">massgravel</a
        >
      </h3>
    </article>

    <Download
      href="scripts/activate-win-office.7z"
      text="Activación de windows y office.7z"
      donwload="Activación de windows y office.7z"
    />

    <p>¡Extraelo, executalo y listo!</p>
    <!-- TXT -->
    <h1 class="mt-8"><span>Windows</span></h1>
    <h3
      class="inline-block text-4xl text-gray-300 border-dashed border-b-4 italic mb-4"
    >
      Mediante un archivo de texto
    </h3>
    <pre>
<code>
  slmgr /ipk ***-***-***-***-***
  slmgr /skms kms.digiboy.ir      
  slmgr /ato


  Win 10 Home:                      TX9XD-98N7V-6WMQ6-BX7FG-H8Q99
  Win 10 Home N:                    3KHY7-WNT83-DGQKR-F7HPR-844BM
  Win 10 Home Single Language:      7HNRX-D7KGG-3K4RQ-4WPJ4-YTDFH
  Win 10 Home Country Specific:     PVMJN-6DFY6-9CCP6-7BKTT-D3WVR
  Win 10 Professional:              W269N-WFGWX-YVC9B-4J6C9-T83GX
  Win 10 Professional N:            MH37W-N47XK-V7XM9-C7227-GCQG9
  Win 10 Enterprise:                NPPR9-FWDCX-D2C8J-H872K-2YT43
  Win 10 Enterprise N:              DPH2V-TTNVB-4X9Q3-TJR4H-KHJW4
  Win 10 Education:                 NW6C2-QMPVW-D7KKK-3GKT6-VCFB2
  Win 10 Education N:               2WH4N-8QGBV-H22JP-CT43Q-MDWWJ
  Win 10 Enterprise 2015 LTSB:      M7XTQ-FN8P6-TTKYV-9D4CC-J462D

</code>
</pre>
    <h3
      class="inline-block text-2xl text-gray-300 border-dashed border-b-4  mb-4"
    >
      Instrucciones ⬇
    </h3>
    <ul class="mb-8">
      <li>
        Presiona la tecla Win en tu teclado
      </li>
      <li>
        Escribe "Acerca de tu PC" y selecciona la opción que aparezca
      </li>
      <li>
        En la ventana que se abre, busca la sección "Especificaciones de Windows" -> "Edición"
      </li>
      <li>En base a esa versión, realiza el primer comando sustituyendo el número de activación por los astericos</li>
      <li>
        Luego ejecuta los demás comandos
      </li>
    </ul>
    <article class="">
      <h3
        class="inline-block text-4xl text-gray-300 border-dashed border-b-4 italic mb-4 mr-2"
      >
        Script basado en el texto
      </h3>
      <p>Puedes ejecutar el siguiente script y realizara los pasos manuales mecionados arriba de manera automática</p>
    </article>
    <Download href="scripts/text.7z" text="Script.7z" donwload="Script.7z" />
    <div class="h-52"></div>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  pre {
    padding: var(--base-size-16);
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: #161b22;
  }
  h2 {
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
</style>

<script></script>
