---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Activadores">
  <main>
    <!-- TXT -->
    <h1><span>Windows</span></h1>
    <h3
      class="inline-block text-4xl text-gray-300 border-dashed border-b-4 italic mb-4"
    >
      Mediante un archivo de texto
    </h3>
    <pre>
	  <code>
  slmgr /ipk ***-***-***-***-***
  slmgr /skms kms.digiboy.ir      
  slmgr /ato
  
  
  Windows 10 Home: 			TX9XD-98N7V-6WMQ6-BX7FG-H8Q99
  Windows 10 Home N: 		3KHY7-WNT83-DGQKR-F7HPR-844BM
  Windows 10 Home Single Language: 	7HNRX-D7KGG-3K4RQ-4WPJ4-YTDFH
  Windows 10 Home Country Specific: 	PVMJN-6DFY6-9CCP6-7BKTT-D3WVR
  Windows 10 Professional: 		W269N-WFGWX-YVC9B-4J6C9-T83GX
  Windows 10 Professional N: 		MH37W-N47XK-V7XM9-C7227-GCQG9
  Windows 10 Enterprise: 		NPPR9-FWDCX-D2C8J-H872K-2YT43
  Windows 10 Enterprise N: 		DPH2V-TTNVB-4X9Q3-TJR4H-KHJW4
  Windows 10 Education: 		NW6C2-QMPVW-D7KKK-3GKT6-VCFB2
  Windows 10 Education N: 		2WH4N-8QGBV-H22JP-CT43Q-MDWWJ
  Windows 10 Enterprise 2015 LTSB: 	M7XTQ-FN8P6-TTKYV-9D4CC-J462D
	  </code>
	</pre>
    <h3
      class="inline-block text-2xl text-gray-300 border-dashed border-b-4 italic mb-4"
    >
      Instrucciones ⬇
    </h3>
    <ul class="mb-8">
      <li>
        <p class="flex">
          Presiona la tecla Win <img class="mx-1" src="/windows.svg" alt="" /> Posterior
          a esto buscar el apartado "Acerca de tu pc"
        </p>
      </li>
      <li>
        <p>
          Ubica que edición de windows es la que cuentas y en base a eso sigue a
          cabo los comandos mencionados
        </p>
      </li>
    </ul>

    <!-- SCRIPT  -->
    <article class="flex">
      <h3
        class="inline-block text-4xl text-gray-300 border-dashed border-b-4 italic mb-4 mr-2"
      >
        Mediante un script
      </h3>
      <img class="size-10 flex self-center pb-1" src="/command.svg" alt="" />
    </article>
    <a
      href="scripts/activate-win-office.7z"
      download="Activación de windows y office.cmd"
      ><h3
        id="script"
        class=" transition-all inline-flex items-center justify-center text-base p-2 font-medium text-gray-500 rounded-lg dark:bg-gray-800 hover:bg-transparent hover:text-purple-500 "
      >
      Activación de windows y office.cmd
      </h3></a
    >

    <div class="h-52"></div>
  </main>
</Layout>
<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  pre {
    padding: var(--base-size-16);
    overflow: auto;
    font-size: 85%;
    line-height: 1.45;
    color: var(--fgColor-default, var(--color-fg-default));
    background-color: #161b22;
  }
  h2 {
  }
  ul {
    list-style-type: disc;
    margin-left: 20px;
  }
</style>

<script></script>
