---
import Layout from "../layouts/Layout.astro";
import DonwloadGame from "../components/DonwloadGame.astro";
---

<Layout title="Juegos Gratis ">
  <main class="flex flex-col">
    <h1><span>Juegos</span></h1>
    <p class="text-2xl self-center mb-16">
      隆Juegos de pago, gratuitos y seguros!
    </p>
    
    <DonwloadGame
      img="games/cupheadLogo.webp"
      href="link par acuphead vale"
      description="Cuphead es un videojuego perteneciente al g茅nero de corre y dispara, publicado por la empresa canadiense StudioMDHR"
      >Cuphead</DonwloadGame
    >

    <DonwloadGame
    img="games/brutalDoomLogo.webp"
    href="Old Doom"
    description="Doom es un videojuego de disparos en primera persona desarrollado y publicado por id Software"
    >Old Doom</DonwloadGame
    >
    <DonwloadGame
    img="games/kratosLogo.webp"
    href="kratos"
    description="Ghost of Sparta es un videojuego de acci贸n-aventura en tercera persona desarrollado por Ready at Dawn Studios y SCE Santa Monica Studio, puedes jugar este juego con la iso en el programa 'ppsspp'"
    >Ghost Of Sparta "ISO"</DonwloadGame
    >
    <DonwloadGame
      img="games/hormigasLogo.webp"
      href="https://mega.nz/file/GNU1CbYb#hRNBPmSVC7InpGCYqxE6HE48aiHTL0ajRw7ZWvcN8BI"
      description="Empires of the Undergrowth es un juego de gesti贸n de colonias de hormigas, con un estilo de estrategia 煤nica en tiempo real"
      >Empires of the Undergrowth</DonwloadGame
    >
    <DonwloadGame
      img="games/sanAndreas.webp"
      href="https://download1590.mediafire.com/gjsw4zb6v14gUZCOHIBZuW3ySEi1SLJ-J0Lb89fE29KirWgsPWixUYw2d664pYDfHAU7A8_OP2O8BATvvnZM0UPJpw8emmkedvlN2GNMaOt9Y_syCWzRCvYq8tclZPE_7YNEMwPrxJhOcQHnxxdFWSk6tQxwwVxtHenMXUnY74VF6g/mu1l1jce4vrpw2l/Grand+Theft+Auto+San+Andreas+Portable.7z"
      description="Grand Theft Auto: San Andreas es un videojuego de acci贸n-aventura de mundo abierto de disparos en tercera persona desarrollado por Rockstar North y publicado por Rockstar Games"
      >Gta San Andreas</DonwloadGame
    >
    <DonwloadGame
      img="games/chainedLogo.webp"
      href="https://download2332.mediafire.com/tbvro99bi3ugJ36lw9Zpf6_TpwyoNA16d9YrCsWz1oD8BHIS_-V1CdlJNfNau96teT5r25GQnx42pso4MG_kyloTrltErlFZ7ugbFRBT2d0QUOjMemAN9b_JNhnuCDoNycVnACF9zLJWHC4mcPuUCfxJv5D_Ovlv1lsp3LSi7CBY9DE/zqpsxyd36zzuetv/Chained+Together.zip"
      description="En Chained Together, hasta cuatro jugadores est谩n conectados por una cadena y deben llegar a la cima del mapa para escapar del infierno. A lo largo del juego, los jugadores pueden encontrar diez potenciadores llamados Alas que les permiten recuperarse de las ca铆das"
      >Chained Together</DonwloadGame
    >
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }

  /* Estilos para m贸vil */
</style>
