---
import Layout from "../layouts/Layout.astro";
import Program from "../components/Program.astro";
---

<Layout title="Programas comunes">
  <main>
    <h1><span>Programas</span></h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 gap-y-8">
      <Program
        img="programasLogo/anydesklogo.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/qwer1.exe"
        >Any desk</Program
      >
      <Program
        img="programasLogo/officelogo.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/Office%202019%20Installer%20n4cho.exe"
        >Office 2019 Installer</Program
      >
      <Program
        img="programasLogo/vmwarelogo.webp"
        href="https://download1478.mediafire.com/jegioik0ixbglEaaizYjPyL93eN_pfZefHWmqvYnXSXYSoxVNloijeBTkWJZ0zL-oZ3izik-KlRLV79ZJkLuLsVb1JH8y1hWd1wK9KQcdp1_9GhSLPAcyUkDkNNroLaIZFgFxc0gUh3Ry8oUwBweCpo_0WT4Oj3LJM89CThIjst9CA/4yage79j94isgn3/VMware-workstation-17.5.2.exe"
        >Vmware Pro 1.17</Program
      >
      <Program
        img="programasLogo/rufuslogo.webp"
        href="https://github.com/pbatard/rufus/releases/download/v4.5/rufus-4.5.exe"
        >Rufus</Program
      >
      <Program
        img="programasLogo/7ziplogo.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/7z2407-x64.exe"
        >7zip</Program
      >
      <Program
        img="programasLogo/winrarlogo.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/winrar-x64-701es.exe" 
        >Winrar</Program
      >
      <Program
        img="programasLogo/cristal.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/CrystalDiskInfo9_3_2.exe" 
        >Health disk</Program
      >
      <Program
        img="programasLogo/speed.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/DiskMark64.exe" 
        >Speed disk</Program
      >

      <Program
        img="games/crosshairXLogo.webp"
        href="https://mega.nz/folder/KRNE0ZRR#X0S8s-UzwiasBHmpzsR9lQ" 
        >CrosshairX</Program
      >
      <Program
        img="programasLogo/wizardLogo.webp"
        href="https://cdn2.minitool.com/?p=pw&e=pw-free" 
        >Partition Wizard</Program
      >

      <Program
        img="programasLogo/batico.webp"
        href="scripts/EAT.bat" 
        >Eliminar 🗑️</Program
      >

      <Program
        img="programasLogo/nanazipLogo.webp"
        href="https://github.com/IGnacho12/SOFT/raw/main/Utilities/NanaZip.exe" 
        >Nana Zip</Program
      >

      <Program
        img="programasLogo/IDMLogo.webp"
        href="https://github.com/IGnacho12/SOFT /raw/main/Utilities/IDM.zip" 
        >IDM cracked</Program
      >
      
      
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
