---
import Layout from "../layouts/Layout.astro";
import Program from "../components/Program.astro";
---

<Layout title="Programas comunes">
  <main>
    <h1><span>Programas vale</span></h1>
    <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-2 gap-y-8">
      <Program
        img="programasLogo/anydesklogo.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/qwer1.exe"
        >Any desk</Program
      >
      <Program
        img="programasLogo/officelogo.webp"
        href="https://github.com/IGnacho12/Software-de-soporte/raw/main/Office%202019%20Installer%20n4cho.exe"
        >Office 2019 Installer</Program
      >
      <Program
        img="programasLogo/vmwarelogo.webp"
        href="https://mega.nz/file/CJNTRTLT#iwSbmZOILu1jpluaIA2OpHVtPoqTrPNL1iAP9dDwC4Q"
        >Vmware Pro 1.17</Program
      >
      <Program
        img="programasLogo/rufuslogo.webp"
        href="https://github.com/pbatard/rufus/releases/download/v4.5/rufus-4.5.exe"
        >Rufus</Program
      >
      
      
    </div>
  </main>
</Layout>

<style>
  body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
</style>
