---
import Layout from "../layouts/Layout.astro";
---

<Layout title="Utilidades par juegos">
  <main>
    <h1><span>Utilidades</span></h1>
    <article>
      <h3>Menor latencia</h3>
      <p>
        Timer Resolution es una herramienta que ajusta la precisión del
        temporizador del sistema en Windows. Al hacer que el temporizador del
        sistema sea más preciso, se pueden obtener actualizaciones más rápidas y
        fluidas.
      </p>
    </article>
    <div class="flex flex-row gap-2 mt-3">
      <img src="timer.jpg" alt="Timer resolution.jpg" class="size-8" />
      <a id="neon" href="">Timer Resolution</a>
    </div>
    <p>Una vez en exejución el programa debes darle click a "Maximum"</p>
    <img
      class="w-[80%] mt-5 aspect-video"
      src="timerWindows.jpg"
      alt="Ventana de ayuda para timer resolution"
    />
    <p>
      Si te parece tedioso tener que ejecutar este programa cada vez que tu PC
      se inicie hay una alternativa de exejución automática que además no se
      ubica en la barra de tareas si no que se pone en la bandeja del sistema
    </p>
    <div class="flex flex-row gap-2 mt-3">
      <img
        src="timerTool.png"
        alt="Timer tool ico"
        class="size-8"
      />
      <a id="neon" href="utilidades/timerTool.rar">TimerTool.rar</a>
    </div>
    <div class="h-36"></div>
  </main>
</Layout>

<style>
  body {
    height: 100%;
  }
  main {
    height: 100%;
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: white;
    font-size: 20px;
    line-height: 1.6;
  }
  p {
    margin-top: 1rem;
    font-style: italic;
    color: rgb(203 213 225);
  }
  #neon {
    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.4),
      0 0 10px rgba(255, 255, 255, 0.4),
      0 0 15px rgba(255, 255, 255, 0.4),
      0 0 25px rgba(255, 255, 255, 0.4);
  }
</style>
