---
interface Props {
  img: string;
  href: string;
}
const { img, href } = Astro.props;
---

<div class="flex flex-row gap-3 items-center">
  <img src={img} alt="img" />
  <a  download href={href}><slot /></a>
</div>

<style>
  a {
    font-family: sans-serif;
    transition: all;
    transition-duration: 0.2s;
    transition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
    display: flex;
    flex-direction: row;

    text-shadow:
      0 0 5px rgba(255, 255, 255, 0.2),
      0 0 10px rgba(255, 255, 255, 0.2),
      0 0 15px rgba(255, 255, 255, 0.2),
      0 0 25px rgba(255, 255, 255, 0.2);

    &&:hover {
      text-shadow:
        0 0 5px rgba(255, 255, 255, 0.4),
        0 0 10px rgba(255, 255, 255, 0.4),
        0 0 15px rgba(255, 255, 255, 0.4),
        0 0 25px rgba(255, 255, 255, 0.4);
    }
  }
  img {
    width: 32px;
  }
</style>
